# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# project ignore file
*.avi
*.mp4
/result/basic_motion_detection.avi
